@font-face {
  font-family: "Mario";
  src: url(../font/Super-Mario-World.ttf) format("truetype");
}
@font-face {
  font-family: "Mario Menu";
  src: url(../font/Chlorinp.ttf) format("truetype");
}
@font-face {
  font-family: "Mario S";
  src: url(../font/SuperMario256.ttf) format("truetype");
}
.gameboy {
  position: relative;
  width: 350px;
  height: 570px;
  border-radius: 20px;
  padding: 20px;
  background-color: #4f50db;
  box-shadow: 0px -5px 0px #0d0e51, 0px 5px 0px #3d38b5;
  font-family: sans-serif;
  -webkit-user-select: none;
  cursor: default;
  /*
  &::before {
    content:'';
    display:block;
    position:absolute;
    top:calc(100% - 200px);
    left:20%;
    width:60%;
    height:150px;
    border-radius:20px;
    background-color:#4f50db;
    box-shadow:0px 50px 200px #aaa;
    z-index:1;
  }*/
}
.gameboy::after {
  content: "";
  display: block;
  position: absolute;
  top: calc(100% - 34px);
  left: 5px;
  width: calc(100% - 10px);
  height: 50px;
  border-radius: 50%;
  background-color: #4f50db;
  box-shadow: 0px 5px 0px #3d38b5;
  border-bottom: 2px solid #9998eb;
}
.gameboy .screen-area {
  position: relative;
  padding: 35px 50px 5px 50px;
  border-radius: 15px 15px 15px 15px;
  background-color: #23252d;
  color: #67879a;
  box-shadow: 0px 2px 0px black, 0px -2px 0px black, -2px 0px 0px black, 2px 0px 0px black;
}
.gameboy .screen-area::after {
  content: "";
  display: block;
  position: absolute;
  top: calc(100% - 20px);
  left: 5px;
  width: calc(100% - 10px);
  height: 30px;
  border-radius: 50%;
  background-color: #23252d;
  box-shadow: 0px 2px 0px black;
}
.gameboy .screen-area .power {
  position: absolute;
  display: block;
  width: 50px;
  left: 0px;
  top: 80px;
  font-size: 10px;
  letter-spacing: -0.5px;
  text-align: center;
  cursor: pointer;
}
.gameboy .screen-area .power .indicator {
  line-height: 14px;
}
.gameboy .screen-area .power .indicator .led {
  position: relative;
  display: inline-block;
  background-color: #ca1a21;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px #ff552e;
  z-index: 5;
}
.gameboy .screen-area .power .indicator .arc {
  position: relative;
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-left: -2px;
}
.gameboy .screen-area .power .indicator .arc::before {
  position: absolute;
  left: 3px;
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #67879a;
}
.gameboy .screen-area .power .indicator .arc::after {
  position: absolute;
  left: 0px;
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #23252d;
}
.gameboy .screen-area .display {
  background-color: #929d97;
  height: 190px;
  width: 210px;
  border-radius: 3px;
  margin-bottom: 15px;
}
.gameboy .screen-area .label {
  position: relative;
  text-align: center;
  font-size: 20px;
  z-index: 5;
}
.gameboy .screen-area .label .title {
  display: inline;
  font-weight: bold;
  font-style: italic;
}
.gameboy .screen-area .label .subtitle {
  display: inline;
  font-family: "Comic Sans MS";
  font-weight: bold;
  font-size: 22px;
  letter-spacing: -1px;
}
.gameboy .screen-area .label .subtitle .c,
.gameboy .screen-area .label .subtitle .o1,
.gameboy .screen-area .label .subtitle .l,
.gameboy .screen-area .label .subtitle .o2,
.gameboy .screen-area .label .subtitle .r {
  display: inline-block;
}
.gameboy .screen-area .label .subtitle .c {
  color: #aa2058;
}
.gameboy .screen-area .label .subtitle .o1 {
  color: #605bd9;
  font-size: 20px;
}
.gameboy .screen-area .label .subtitle .l {
  color: #78b930;
  transform: rotateZ(-10deg);
}
.gameboy .screen-area .label .subtitle .o2 {
  color: #b6b524;
  font-size: 20px;
}
.gameboy .screen-area .label .subtitle .r {
  color: #317aaf;
}
.gameboy .nintendo {
  padding: 0px 5px;
  width: 82px;
  color: #3436bf;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  border: 2px solid #3436bf;
  border-radius: 11px;
  margin-top: 30px;
  text-shadow: 0px -2px 1px #6b67ed;
  box-shadow: 0px -2px 1px #6b67ed;
}
.gameboy .controls {
  display: flex;
  justify-content: space-between;
}
.gameboy .controls .dpad {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 90px;
  z-index: 5;
}
.gameboy .controls .dpad > * {
  width: 33%;
  height: 33%;
  position: absolute;
  background-color: #565e6a;
}
.gameboy .controls .dpad > * i {
  position: relative;
  display: block;
  margin: 0 auto;
  text-align: center;
  height: 100%;
  font-size: 28px;
  color: #333a4a;
  text-shadow: 0px -0.5px 0px #aaa;
}
.gameboy .controls .dpad .up {
  top: calc(0% + 4px);
  left: 33%;
  border-top: 4px solid black;
  border-left: 4px solid black;
  border-right: 4px solid black;
  border-radius: 5px 5px 0px 0px;
}
.gameboy .controls .dpad .up:active {
  background: linear-gradient(to top, #565e6a 0%, #333 100%);
}
.gameboy .controls .dpad .up i {
  top: -5px;
}
.gameboy .controls .dpad .right {
  top: 33%;
  left: calc(66% - 4px);
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  border-right: 4px solid black;
  border-radius: 0px 5px 5px 0px;
  box-shadow: 0px -2px 0px #888 inset;
}
.gameboy .controls .dpad .right:active {
  background: linear-gradient(to right, #565e6a 0%, #333 100%);
}
.gameboy .controls .dpad .right i {
  top: -5px;
}
.gameboy .controls .dpad .down {
  top: calc(66% - 4px);
  left: 33%;
  border-left: 4px solid black;
  border-bottom: 4px solid black;
  border-right: 4px solid black;
  border-radius: 0px 0px 5px 5px;
  box-shadow: 0px -2px 0px #888 inset;
}
.gameboy .controls .dpad .down:active {
  background: linear-gradient(to bottom, #565e6a 0%, #333 100%);
}
.gameboy .controls .dpad .left {
  top: 33%;
  left: calc(0% + 4px);
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  border-left: 4px solid black;
  border-radius: 5px 0px 0px 5px;
  box-shadow: 0px -2px 0px #888 inset;
}
.gameboy .controls .dpad .left i {
  top: -5px;
}
.gameboy .controls .dpad .left:active {
  background: linear-gradient(to left, #565e6a 0%, #333 100%);
}
.gameboy .controls .dpad .middle {
  top: 33%;
  left: 33%;
  z-index: -5;
}
.gameboy .controls .dpad .middle::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 20%;
  display: inline-block;
  border: 1px solid #6e737a;
  background: linear-gradient(to bottom, #6d7075 0%, #6d7075 30%, #23272f 70%, #23272f 100%);
  border-radius: 50%;
  height: 60%;
  width: 60%;
}
.gameboy .controls .dpad .up-down {
  background-color: #565e6a;
  border: 4px solid black;
  border-radius: 5px;
  width: 20px;
  height: 60px;
}
.gameboy .controls .dpad .left-right {
  background-color: #565e6a;
  border: 4px solid black;
  border-radius: 5px;
  width: 60px;
  height: 20px;
}
.gameboy .controls .a-b {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 90px;
}
.gameboy .controls .a-b .a,
.gameboy .controls .a-b .b {
  position: absolute;
  display: inline-block;
  font-size: 22px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  background-color: #2c313e;
  border-bottom: 2px solid #888;
  box-shadow: -1px 1px 5px black, 0px 0px 5px black inset;
  text-shadow: 0px -1px 1px #888;
  color: #2c313e;
  text-align: center;
  -webkit-user-select: none;
  cursor: pointer;
  transition: box-shadow 0.1s ease-out, border 0.1s ease-out, line-height 0.2s ease-out;
}
.gameboy .controls .a-b .a:active,
.gameboy .controls .a-b .b:active {
  box-shadow: -1px 1px 1px black, 0px 0px 5px black inset;
  border-width: 0px;
  line-height: 45px;
}
.gameboy .controls .a-b .a {
  top: 15px;
  right: 10px;
}
.gameboy .controls .a-b .b {
  top: 35px;
  left: 0%;
}
.gameboy .start-select {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
}
.gameboy .start-select .select,
.gameboy .start-select .start {
  display: inline-block;
  color: #6b67ed;
  text-shadow: 0px -1px 0px #3436bf;
  letter-spacing: -1px;
  width: 60px;
  font-size: 16px;
  text-align: center;
  margin-top: 60px;
}
.gameboy .start-select .select::before,
.gameboy .start-select .start::before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 30px;
  height: 10px;
  margin-bottom: 5px;
  border-radius: 40%;
  background: linear-gradient(to bottom, #0b0a1c 0%, #0b0a1c 30%, #62636c 70%, #62636c 100%);
  background-repeat: no-repeat;
  border: 2px solid #0b0a1c;
  box-shadow: 0px -2px 1px #8482e9;
  cursor: pointer;
}
.gameboy .start-select .select:active::before,
.gameboy .start-select .start:active::before {
  background: linear-gradient(to bottom, #0b0a1c 0%, #0b0a1c 50%, #62636c 100%);
}
.gameboy .speaker {
  position: absolute;
  display: flex;
  width: 75px;
  height: 75px;
  right: 15px;
  bottom: 5px;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 100;
  transform: skewY(-10deg);
}
.gameboy .speaker .dot {
  width: 7px;
  height: 7px;
  margin: 1px;
  border-radius: 50%;
}
.gameboy .speaker .dot.placeholder {
  background-color: transparent;
}
.gameboy .speaker .dot.open {
  background-color: #0a0717;
  box-shadow: 0px 0px 2px #7c7be0 inset;
}
.gameboy .speaker .dot.closed {
  background: linear-gradient(to bottom, #6664e5 0%, #2d3590 100%);
  box-shadow: 0px 0px 2px #7c7be0 inset;
}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/bkg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

.gameboy {
  margin: 0 auto;
}
.gameboy.on .display__board {
  display: block;
}
.gameboy.on .power .indicator .led {
  background: green;
}

.tooltip {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 5%;
  top: 15%;
  font-size: 0.4rem;
  font-family: Roboto;
  font-weight: bold;
  letter-spacing: 0.1rem;
  color: red;
}
.tooltip::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  margin: 5px;
  box-shadow: 3px 3px 0;
  animation: tooltip;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.display__countdown {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.display__count {
  font-size: 12rem !important;
  color: red;
}
.display__salutation {
  text-align: center;
  font-family: "Mario";
  font-size: 8px;
  color: black;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 25%;
  top: 25%;
  width: 50%;
  height: auto;
}
.display__blocki {
  width: 25px;
  position: absolute;
  top: 70px;
  right: -40px;
}
.display__blocki.start {
  animation: blocki 7s infinite linear;
}
.display__koppa {
  position: absolute;
  width: 45px;
  transform: rotateY(180deg);
  bottom: -9px;
  right: -40px;
}
.display__koppa.start {
  animation: koppa 5s linear forwards;
}
.display__gold {
  position: absolute;
  color: #F8D721;
  font-family: "Mario";
  width: auto;
  height: auto;
  font-size: 0.7rem;
  top: 5px;
  left: 20px;
  display: none;
}
.display__enemy {
  position: absolute;
  width: 35px;
  right: 30px;
  top: -40px;
}
.display__enemy.start {
  animation: enemy 5s linear forwards;
}
.display__img {
  width: 15px;
  border-radius: 50%;
}
.display__board {
  width: 100%;
  height: 100%;
  background: linear-gradient(#87ceeb, #e0f6ff);
  position: relative;
  overflow: hidden;
  border-bottom: 5px solid green;
  display: none;
}
.display__board.start {
  transform: rotateY(180deg);
  transition: all 0.2s linear;
}
.display__obj {
  width: 18px;
  position: absolute;
  bottom: 0;
}
.display__obj.start {
  animation: enemies 1.5s infinite linear;
}
.display__mario {
  width: 40px;
  position: absolute;
  bottom: 0;
}
.display__mario.jump {
  animation: jump-mario 500ms ease-out;
}
.display__mario.start {
  animation: mario 5s forwards linear;
}
.display__clouds {
  width: 100px;
  position: absolute;
  animation: clouds 15s infinite linear;
}
.display__clouds2 {
  position: absolute;
  width: 100px;
  top: 20px;
  animation: clouds2 25s infinite linear;
}
.display__clouds3 {
  position: absolute;
  width: 100px;
  top: 40px;
  animation: clouds3 19s infinite linear;
}
.display__coin {
  position: absolute;
  width: 15px;
  bottom: 60px;
  right: -40px;
}
.display__coin.start {
  animation: coin 6s infinite linear;
}
.display__on {
  position: absolute;
  width: 15px;
  bottom: 60px;
  right: -40px;
}
.display__on.start {
  animation: on 2.2s infinite linear;
}
.display__off {
  position: absolute;
  width: 15px;
  bottom: 60px;
  right: -40px;
  display: none;
}
.display__off.start {
  animation: on 2.2s infinite linear;
}
.display__gate {
  width: 40px;
  position: absolute;
  bottom: -5px;
  right: -40px;
}
.display__gate.start {
  animation: gate 8s forwards linear;
}
.display__item {
  width: 25px;
  height: 25px;
  border: 3px solid #61A8F6;
  border-radius: 8px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.display__flower {
  width: 15px;
  position: absolute;
  left: 50%;
  top: 5px;
  transform: translateX(-50%);
}
.display__flower.start {
  animation: item 3s forwards linear;
}
.display__ghosts {
  position: absolute;
  width: 50px;
  top: 80px;
  transform: rotateY(180deg);
  right: 20px;
  display: none;
}
.display__ghosts.start {
  animation: ghosts 5s linear infinite;
}
.display__princess {
  width: 40px;
  position: absolute;
  bottom: 0;
  right: -40px;
}
.display__princess.start {
  animation: princess 5s forwards linear;
}
.display__photo {
  position: absolute;
  width: 30px;
  right: -30px;
  border-radius: 50%;
  border: 3px solid red;
}
.display__photo.start {
  animation: photo 2s forwards linear;
}
.display__fireworks {
  position: absolute;
  width: 100%;
  display: none;
}
.display__star {
  width: 25px;
  right: -40px;
  top: 45%;
  position: absolute;
}
.display__star.start {
  animation: star 5s linear forwards;
}
.display__lightning {
  position: absolute;
  width: 80px;
  display: none;
}
.display__volcano {
  position: absolute;
  bottom: 0;
  left: 25%;
  width: 100px;
  display: none;
}
.display__storm {
  position: absolute;
  width: 240px;
  display: none;
}
.display__msg {
  position: absolute;
  width: 20px;
  z-index: 10;
  opacity: 1;
  animation: messageblock 1s ease-out infinite;
  cursor: pointer;
}
.display__score {
  position: absolute;
  height: 190px;
  width: 210px;
  background: linear-gradient(45deg, #1c1d1f, #082032);
  z-index: 20;
  display: none;
  flex-direction: column;
  justify-content: space-around;
}
.display__score.show {
  display: flex;
}
.display__close {
  position: absolute;
  width: 20px;
  top: 0;
  right: 50%;
  cursor: pointer;
}
.display__titles {
  font-size: 0.7rem !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(71, 255, 240);
}
.display__username {
  font-size: 1rem !important;
  color: yellow;
}
.display__attempts {
  font-size: 1rem !important;
  color: rgb(0, 179, 255);
}
.display__victories {
  font-size: 1rem !important;
  color: greenyellow;
}
.display__defeats {
  font-size: 1rem !important;
  color: red;
}
.display__loader {
  position: absolute;
  height: 190px;
  width: 210px;
  z-index: 10;
  background: linear-gradient(45deg, #1c1d1f, #082032);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}
.display__loader.start {
  animation: loader 30s forwards linear;
}
.display__final {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.display__link {
  text-decoration: none;
}
.display span {
  font-family: "Mario S";
  font-size: 1.6rem;
}
.display__text--r {
  color: red;
}
.display__text--o {
  color: rgb(68, 68, 247);
}
.display__text--d {
  color: yellow;
}
.display__text--i {
  color: green;
}
.display__text--g {
  color: yellow;
}
.display__text--p {
  color: yellow;
}
.display__text--e {
  color: rgb(68, 68, 247);
}
.display__text--s {
  color: yellow;
}
.display__goomba {
  position: absolute;
  width: 15px;
  top: 92%;
  right: 80px;
  display: none;
}
.display__goomba.start {
  animation: goomba 1.1s linear forwards;
}
.display__yoshi {
  position: absolute;
  width: 23px;
  transform: rotateY(180deg);
  bottom: -4px;
  right: -40px;
}
.display__yoshi.start {
  animation: yoshi 5s linear forwards;
}
.display__egg {
  position: absolute;
  width: 18px;
  bottom: -2px;
  right: -50px;
}
.display__egg.start {
  animation: egg 5s linear forwards;
}
.display__babymariocrying {
  position: absolute;
  bottom: -1px;
  width: 25px;
  transform: rotateY(180deg);
  left: 60px;
  display: none;
}
.display__babymario {
  position: absolute;
  width: 25px;
  transform: rotateY(180deg);
  bottom: -5px;
  left: -50px;
}
.display__babymario.start {
  animation: babymario 5s linear forwards;
}

@keyframes enemies {
  from {
    right: -30px;
  }
  to {
    right: 100%;
  }
}
@keyframes jump-mario {
  0% {
    bottom: 0;
  }
  40% {
    bottom: 50px;
  }
  50% {
    bottom: 50px;
  }
  60% {
    bottom: 50px;
  }
  100% {
    bottom: 0;
  }
}
@keyframes clouds {
  from {
    right: -100px;
  }
  to {
    right: 100%;
  }
}
@keyframes clouds2 {
  from {
    right: -100px;
  }
  to {
    right: 100%;
  }
}
@keyframes clouds3 {
  from {
    right: -100px;
  }
  to {
    right: 100%;
  }
}
@keyframes gate {
  from {
    right: -40px;
  }
  to {
    right: 143px;
  }
}
@keyframes item {
  0% {
    top: 5px;
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.2;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    top: 100%;
    opacity: 0;
  }
}
@keyframes princess {
  0% {
    right: -40px;
  }
  100% {
    right: 60px;
  }
}
@keyframes mario {
  0% {
    left: 0;
  }
  100% {
    left: 70px;
  }
}
@keyframes coin {
  0% {
    right: -40px;
  }
  100% {
    right: 100%;
  }
}
@keyframes photo {
  0% {
    right: -30px;
  }
  30% {
    right: 0px;
  }
  80% {
    right: 0px;
  }
  100% {
    right: -30px;
  }
}
@keyframes on {
  0% {
    right: -40px;
  }
  100% {
    right: 100%;
  }
}
@keyframes loader {
  0% {
    opacity: 0;
    display: none;
  }
  10% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.3;
  }
  30% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.7;
  }
  80% {
    opacity: 0.8;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
    display: flex;
  }
}
@keyframes blink2 {
  80%, 90%, 99% {
    opacity: 1;
  }
  85%, 87%, 96%, 98% {
    opacity: 0.2;
  }
  86%, 89%, 97% {
    opacity: 0.8;
  }
}
@keyframes blocki {
  0% {
    right: -40px;
    top: 70px;
  }
  25% {
    top: 50px;
  }
  50% {
    top: 60px;
  }
  75% {
    top: 50px;
  }
  100% {
    right: 100%;
    top: 70px;
  }
}
@keyframes enemy {
  0% {
    top: -40px;
  }
  25% {
    right: 30px;
  }
  50% {
    right: 50px;
  }
  100% {
    top: 88%;
    right: 70px;
  }
}
@keyframes koppa {
  0% {
    bottom: -9px;
    right: -40px;
  }
  50% {
    right: 50%;
  }
  75% {
    bottom: 50%;
    right: 75%;
  }
  100% {
    right: 100%;
    bottom: 100%;
  }
}
@keyframes goomba {
  0% {
    top: 92%;
    right: 70px;
  }
  100% {
    right: 100%;
  }
}
@keyframes yoshi {
  0% {
    right: -40px;
  }
  100% {
    right: 35px;
  }
}
@keyframes ghosts {
  0% {
    top: 80px;
    right: 20px;
  }
  25% {
    top: 60px;
    right: 30px;
  }
  50% {
    top: 100px;
    right: 100px;
  }
  75% {
    top: 60px;
    right: 30px;
  }
  100% {
    top: 80px;
    right: 20px;
  }
}
@keyframes egg {
  0% {
    right: -50px;
    bottom: -2px;
  }
  50% {
    bottom: 5px;
    transform: rotate(180deg);
  }
  100% {
    right: 18px;
    bottom: -2px;
  }
}
@keyframes babymario {
  0% {
    left: -50px;
  }
  100% {
    left: 60px;
  }
}
@keyframes star {
  from {
    right: -100px;
  }
  to {
    right: 100%;
  }
}
@keyframes messageblock {
  0% {
    transform: translateY(0);
    opacity: 0;
    display: none;
  }
  50% {
    transform: translateY(30%);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    display: flex;
  }
}
@keyframes tooltip {
  0% {
    transform: translateY(0) rotate(45deg);
  }
  100% {
    transform: translateY(50%) rotate(45deg);
  }
}/*# sourceMappingURL=gameboy.css.map */